  <div class="panel">
    <div class="pane_content">
      <h1>What is Knowts?</h1>
      <p>
        Knowts is a note taking, planning and organisation app.
      </p>
    </div>
  </div>
  <div class="panel" style="color: black; background-color: white;">
    <div class="pane_content">
      <h1>What can it do?</h1>
      <p>
        Knowts lets you organise groups of lists as <em>Boards</em>. Members with access to a board can be assigned items on a list. It's a simple, powerful way to organise.
      </p>
    </div>
  </div>
  <div class="panel">
    <div class="pane_content">
      <h1>How much does it cost?</h1>
      <p>
        Absolutely nothing! Just signup using the link at the top right to get started.
      </p>
    </div>
  </div>
