<div class="first_pane">
    <div class="pane_header">Finally, a way to organise your project in a way that <em>Rocks</em></div>
    <div class="pane_image"></div>
</div>
<div class="features_pane">
    <div class="col" style="float: left;">
        <img src="images/globe_red.png" alt="globe icon" />
        <h1>Browser Based</h1>
        <div>
            Knowts is on the web. This means that you can connect and organise your notes anytime, anywhere. Use your tablet, laptop, PC or any device with a web-browser.
        </div>
    </div>
    <div class="col">
        <img src="images/bomb.png" alt="bomb icon" />
        <h1>Powerful</h1>
        <div>
            Built using the latest HTML 5 technologies, Knowts allows you to instantly update your notes, add team members, emphasise notes, set reminders and ping team members.
        </div>
    </div>
    <div class="col" style="float: right;">
        <img src="images/html5.png" alt="html5 icon" />
        <h1>Simple</h1>
        <div>
            Built to manage lists and groups, and does this task well. All the powerful features of Knowts are wrapped up in an elegant and simple user interface. Even your grandparents could use this.
        </div>
    </div>
</div>
<div class="signup_pane">
    <div class="head">Lets go!</div>
    <a href="signup.html"><div class="button">Signup</div></a>
    <div class="body">Take notes, organise your project, <em>Get stuff done!</em></div>
</div>