  <div class="sitemap">
<div class="tree_container">
    <h1>Sitemap</h1>
    <table>
      <tr>
        <td class="globe"><a href="login.html">Login</a></td>
        <td></td>
        <td class="globe"><a href="signup.html">Signup</a></td>
      </tr>
      <tr>
        <td><a style="color: white; text-decoration: underline;" href="http://validator.w3.org/check?referer">Valid HTML 5</a></td>
        <td class="globe"><a href="index.html">Home</a></td>
        <td><a style="color: white; text-decoration: underline;" href="http://jigsaw.w3.org/css-validator/validator?referer">Good CSS</a></td>
      </tr>
      <tr>
        <td class="globe"><a href="about.html">About</a></td>
        <td></td>
        <td class="globe"><a href="app/index.html">App</a></td>
      </tr>
    </table>
  </div>
      </div>