.login_form {
	background-color: #222;
	width: 60%;
	margin: 30px auto 30px auto;
	box-shadow: 0 0 10px 2px #000 inset;
	border-radius: 10px;
	color: #FFF;
	text-align: center;
	padding: 30px;
    bottom: 0px;
}

.login_form form {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

form > div {
	width: 60%;
	height: 30px;
	line-height: 30px;
	text-align: right;
	margin: 20px auto 20px auto;
}

.login_form a {
    color: #9683e0;
}
.login_form a:hover {
	color: #6144d0;
}

.login_form h1 {
	color: #a783e0;
    font-size: 40px;
	font-family: 'Special Elite', cursive;
}

label {
    font-size: 22px;
}