/*
/////////////////
GLOBAL
/////////////////
*/

body {
    font-family: 'Poiret One', cursive;
}

a, a:hover, a:active {
    color: black;
    text-decoration: none;
    border: none;
}

/*
/////////////////
HEADER
/////////////////
*/

.header {
    background-color: #FFF;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 70px;
    box-shadow: 0 0 5px;
    z-index: 10;
}

.header .left {
    float: left;
    font-size: 40px;
    height: 70px;
    line-height: 70px;
    padding: 0 20px 0 20px;
    font-weight: bolder;
    background-color: #F0E9E9;
}

.header .right {
    float: right;
    margin-right: 30px;
    height: 70px;
    line-height: 70px;
    font-size: 25px;
}

.header .right div {
    padding: 0 15px 0 15px;
    transition: all 1s;
    height: 100%;
    display: inline-block;
}

.header .right div:hover {
    color: #BF1111;
    cursor: pointer;
}

/*
/////////////////
CONTENT
/////////////////
*/
.content {
    background-color: #333;
    position: absolute;
    top: 70px;
    left: 0px;
    right: 0px;
}

.content .first_pane {
    height: 500px;
    width: 100%;
    color: #FFF;
    text-align: center;
    font-size: 50px;
    z-index: 9;
    overflow: hidden;
}

.pane_header {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
}

.pane_header > em {
    font-family: 'Special Elite', cursive;
    color: #BF1111;
}

.pane_image {
    background: url(../images/nightlife.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    margin-right: auto;
    margin-left: auto;
    width: 70%;
    height: 650px;
}

.features_pane {
    background-color: #FFF;
    width: 100%;
    height: 300px;
    overflow: hidden;
    text-align: center;
}

.features_pane .wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.features_pane img {
    width: 50px;
    height: 50px;
}

.features_pane .col {
    width: 20%;
    height: 100%;
    padding: 30px;
    display: inline-block;
}

.features_pane .col h1 {
    color: #BF1111;
}

.signup_pane {
    height: 300px;
    color: #FFF;
    font-size: 40px;
    text-align: center;
    padding: 30px;
}

button {
    background-color: #BF1111;
    color: #FFF;
    font-family: 'Special Elite', cursive;
    border: none;
    border-radius: 8px;
    font-size: 40px;
    margin: 30px;
    padding: 10px 60px 10px 60px;
    transition: all 0.5s;
}

button:hover {
    background-color: #CC4141;
    font-family: 'Special Elite', cursive;
    box-shadow: 0 0  100px 1px #BF1111;
    cursor: pointer;
}

.button {
    background-color: #BF1111;
    color: #FFF;
    font-family: 'Special Elite', cursive;
    border: none;
    border-radius: 8px;
    font-size: 40px;
    margin: 20px auto 20px auto;
    padding: 10px 30px 10px 30px;
    width: 30%;
    margin: 20px auto 20px auto;
    transition: all 0.5s;
}

.button:hover {
    background-color: #CC4141;
    font-family: 'Special Elite', cursive;
    box-shadow: 0 0  100px 1px #BF1111;
    cursor: pointer;
}

/*
/////////////////
FOOTER
/////////////////
*/
.footer {
    text-align: center;
    color: #333;
    font-size: 20px;
    width: 100%;
    background-color: #FFF;
    height: 30px;
    line-height: 30px;
}

.footer a {
    color: #333;
    text-decoration: underline;
}

.footer span {
    margin: 0 30px 0 30px;
}