/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.item-form,.item-content {
    min-height: 91%;
}

.item-form-content, .item-content,
.item-content a, .item-content a:hover{
    color: #ffffff;
    text-align: center;
}

.item-content h1, .item-form h1 {
    color: #a783e0;
    text-align: center;
    font-size: 35px;
}

.item-links {
    text-align: left;
    font-size: 20px;
    margin:10px;
}

.item-content a {
    text-decoration: underline;
}