/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.user-show,
.user-show a,
.user-show a:hover,
.edit_user,
.users-h1,
.users-link,
.users-link a,
.users-link a:hover,
.users-table th,
.user-edit {
    color: #ffffff;
}


.user-show h1, .user-edit h1 {
    color: #a783e0;
    text-align: center;
}
.users-h1, .user-edit {
    text-align: center;
}
.users-table a, .users-table a:hover, .users-table {
    color: black;
}

.users-table a, .users-table a:hover {
    text-decoration: underline;
}

.users-h1 #user-name {
    color: #a783e0;
    font-weight: bold;
}

.users-table th{
    font-size: 25px;
    font-weight: bold;
}

.users-table-div {
    min-height: 92%;
}

.users-table td{
    background-color: #f8f6fc;
    border-radius: 0;
}

.users-table td:first-child {
    color: #a783e0;

}
.users-link,
.users-link a,
.users-link a:hover {
    font-size: 25px;
}

.edit_user {
    text-align: center;
    min-height: 85%;
}

.user-show,
.user-show a,
.user-show a:hover {
    font-size: 25px;
    margin: 10px;
}

.user-show {
    min-height: 93%;
}

.user-show-content {
    text-align: center;
}

#error_explanation {
    font-size: 17px;
    padding: 10px;
    border: solid #000000;
    background-color: #a783e0;
    color: white;
    -webkit-box-shadow: inset 0px 0px 36px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 36px 5px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 36px 5px rgba(0,0,0,0.75);
    text-align: center;
}

#error_explanation li {
    list-style-type: none;
}
