/*
THE WORKSPACE LISTING PAGE
*/
.workspace_list > h1 {
    color: white;
}

.workspace_list > h1 em {
    color: #a783e0;
    font-style: normal;
}

.workspace_list .workspace {
    background-color: white;
    padding: 5px;
    margin: 8px;
    display: inline-block;
    width: 200px;
    min-height: 200px;
    overflow: hidden;
    max-height: 150px;
    vertical-align: top;
    position: relative;
}

.workspace > a {
    background-color: white;
    display: block;
}

.workspace > a:first-child {
    text-align: right;
    margin-bottom: 8px;
}

.workspace div {
    margin: 5px 0 5px 0;
    overflow: hidden;
    font-size: 1.25em;
}

.workspace .name {
    font-size: 2em;
    color: #a783e0;
    margin-bottom: 10px;
    border-bottom: 1px #CCC solid;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.workspace .delete a {
    color: #BF1111;
    display: inline-block;
    font-weight: bolder;
    font-size: 50px;
   // width: 20px;
   // height: 20px;
    line-height: 25px;
    text-align: center;
    right: 5px;
    position: absolute;
}

.workspace .delete a:hover {
    background-color: #BF1111;
    color: white;
}

.workspace > .new_workspace {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    font-size: 200px;
    text-align: center !important;
    line-height: 200px;
}

/*
NEW WORKSPACE PAGE
*/
.create_workspace_form > form {
    color: white;
}

.create_workspace_form > form > div {
    display: block;
    height: auto;
    text-align: center;
}

.create_workspace_form h1 {
    margin-left: 20px;
    color: white;
}

.create_workspace_form #error_explanation {
    padding: 10px;
    border: 2px solid #000000;
    background-color: #a783e0;
    color: white;
    -webkit-box-shadow: inset 0px 0px 36px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 36px 5px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 36px 5px rgba(0,0,0,0.75);
    text-align: left;
}

.create_workspace_form .field {

}

.create_workspace_form .field div {

}

/*
INDIVIDUAL WORKSPACE VIEW
*/
.workspace_page {
    color: white;
    padding: 10px;
}

.route {
    float: right;
    margin-right: 10px;
    font-size: 20px;
}

.route a {
    color: white;
}

.workspace_page .name {
    color: #f8f6fc;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 35px;
}

.list {
    color: black;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
    background-color: #f8f6fc;
    width: 265px;
    min-height: 200px;
    margin: 10px;
}

.list > form .field {
    width: auto;
    height: auto;
    text-align: left;
    margin: 0px;
}

.list > .list_name {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 5px;
}

.list .item {
    display: block;
    border-bottom: 1px solid #CCCCCC;
    padding: 8px;
    text-align: left;
    position: relative;
}

.list .completed {
    background-color: #d6fbcc;
}

.list .item form > .field {
    margin: 0px;
    width: auto;
    height: auto;
    line-height: normal;
    text-align: left;
}

.item > .item_info {

}

.tick {
    width: 25px;
    height: 25px;
    background-image: url('/images/tick_icon.svg');
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.cross {
    width: 25px;
    height: 25px;
    background-image: url('/images/cross_icon.svg');
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.item_edit {
    width: 25px;
    height: 25px;
    background-image: url('/images/edit_icon.svg');
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.item_delete {
    width: 25px;
    height: 25px;
    background-image: url('/images/trash_icon.svg');
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.item_addme {
    width: 25px;
    height: 25px;
    background-image: url('/images/person_icon.svg');
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.item_removeme {
    width: 25px;
    height: 25px;
    position: relative;
}

.item_removeme > .person_icon {
    background-image: url('/images/person_icon.svg');
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.item_removeme > .badge {
    background-image: url('/images/cancel_badge.svg');
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    width: 70%;
    height: 70%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.6);
}

.item .item_users {
    font-size: 50px;
}

.item > .item_controls {
    display: block;
    text-align: right;
    position: absolute;
    top: 0px;
    right:0px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: white;
    opacity: 0;
    padding: 0 5px 5px 5px;
    border: 1px solid #222222;

    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

.item > .item_controls:hover {
    opacity: 1;
}

.item .item_controls * {
    display: inline-block;
}

.item > * {
    display: inline-block;
    text-align: left;
}

.item .item_due {
    color: #CCCCCC;
    font-size: 12px;
}

.users {
    display: none;
    text-align: left;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
    background-color: #222222;
    width: 90%;
    padding: 10px;
    margin: 0 auto 10px auto;
}

.workspace_page .users .user {
    width: 100px;
    height: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 8px;
    display: inline-block;
    vertical-align: top;
    background-color: #f8f6fc;
    color: black;
    position: relative;
}

.users .user .remove_user {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-image: url('/images/cancel_icon.png');
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    width: 25px;
    height: 25px;
}

.show_users_btn {
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    font-size: 18px;
    margin: 10px auto 0 auto;
    width: 100px;
    background: #f8f6fc; /* Old browsers */
    background: -moz-linear-gradient(top,  #f8f6fc 1%, #aea3e0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f8f6fc), color-stop(100%,#aea3e0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f8f6fc 1%,#aea3e0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f8f6fc 1%,#aea3e0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f8f6fc 1%,#aea3e0 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f8f6fc 1%,#aea3e0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f6fc', endColorstr='#aea3e0',GradientType=0 ); /* IE6-9 */
    color: #972ae0;
    font-family: 'Special Elite', cursive;
}

.show_users_btn:hover {
    text-decoration: underline;
    cursor: pointer;
}

#add_workspace_user_button {
    -webkit-transition: width 0.5sec ease-in;
    -moz-transition: width 0.5sec ease-in;
    -o-transition: width 0.5sec ease-in;
    transition: width 0.5sec ease-in;
}

#add_workspace_user_button:hover {
    cursor: pointer;
}

.shown {
    display: block !important;
}

.expanded {
    width: auto !important;
}

#add_workspace_user_button .plus {
    display: none;
    font-size: 100px;
    font-weight: bolder;
    width: 100%;
    height: 100%;
    line-height: 100px;
    text-align: center;
}

#add_workspace_user_button form {
    display: none;
}

#add_workspace_user_button form div {
    margin: 0px;
}

#add_workspace_user_button .close {
    text-align: right;
    display: none;
}

#add_workspace_user_button .close:hover {
    text-decoration: underline;
}

/*
WORKSPACE EDIT PAGE
*/
.edit_workspace_form {
    color: white;
    padding: 10px;
    text-align: center;
}

.edit_workspace_form h1 {
    color: #a783e0;
    font-family: 'Special Elite', cursive;
}

.edit_workspace_form form {
    margin: 30px auto 30px auto;
    width: 60%;
    background-color: #222222;
    box-shadow: 0 0 10px 2px #000 inset;
    border-radius: 10px;
    padding: 10px;
}

.edit_workspace_form form div {
    margin: 0px;
    width: auto;
    height: auto;
    line-height: normal;
    text-align: center;
}

.list-button {
    font-size: 10px;
    background-color: #af8ee3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 5px;
    color: white;
}

#notice {
    font-size: 20px;
}