/*
THE WORKSPACE LISTING PAGE
*/
.workspace_list > h1 {
    color: white;
}

.workspace_list > h1 em {
    color: #BF1111;
    font-style: normal;
}

.workspace_list .workspace {
    background-color: white;
    padding: 5px;
    margin: 8px;
    display: inline-block;
    width: 110px;
    min-height: 100px;
    overflow: hidden;
    max-height: 150px;
    vertical-align: top;
    position: relative;
}

.workspace > a {
    background-color: white;
    display: block;
}

.workspace > a:first-child {
    text-align: right;
    margin-bottom: 8px;
}

.workspace div {
    margin: 5px 0 5px 0;
    overflow: hidden;
}

.workspace .name {
    color: #BF1111;
    margin-bottom: 10px;
    border-bottom: 1px #CCC solid;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.workspace .delete {
    color: #BF1111;
    display: inline-block;
    font-weight: bolder;
    font-size: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.workspace .delete:hover {
    background-color: red;
    color: white;
}

.workspace > .new_workspace {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    font-size: 120px;
    text-align: center !important;
    line-height: 120px;
}

/*
NEW WORKSPACE PAGE
*/
.create_workspace_form > form {
    color: white;
}

.create_workspace_form > form > div {
    display: block;
    height: auto;
    text-align: center;
}

.create_workspace_form h1 {
    margin-left: 20px;
    color: white;
}

.create_workspace_form #error_explanation {
    padding: 10px;
    border: 2px solid #000000;
    background-color: #BF1111;
    color: white;
    -webkit-box-shadow: inset 0px 0px 36px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 36px 5px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 36px 5px rgba(0,0,0,0.75);
    text-align: left;
}

.create_workspace_form .field {

}

.create_workspace_form .field div {

}