<div class="logout-page">
<h1> Log out </h1> <br>
<div class="logout-notice">
  You have successfully log out. <br/>
  Make sure to stay awesome!
  Hope to see you soon.
  </div>
<div class="logout-links">
  Click <%= link_to "here", root_path %> to return to Knowts! <br/>

</div>
</div>