<div class="signed_in-page">
  <h1> Sign in </h1> <br>
  <div class="signed_in-notice">
    You have already signed in as <span class="signed_in-user"><%= current_user.email %> </span>
    <br/>
    <span style="font-weight: bold"> Not You? </span> <br>
    Click the logout button above to log out.
  </div>
  <div class="signed_in-links">
    Click <%= link_to "here", root_path %> to return to Knowts! <br/>

  </div>
</div>